<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >

    <test name="test1-chrome" preserve-order="true">
        <parameter name="browser" value="chrome"></parameter>
        <parameter name="email"  value="rufjtigk+89@gmail.com"/>
        <parameter name="password" value="qweriuyt"/>
        <classes>
            <class name="homework4.tests.ProductCreationTest">
                <methods>
                    <include name="createProductTest"/>
                    <include name="checkProductPresenceTest"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="test1-firefox" preserve-order="true">
        <parameter name="browser" value="firefox"></parameter>
        <parameter name="email"  value="rufjtigk+89@gmail.com"/>
        <parameter name="password" value="qweriuyt"/>
        <classes>
            <class name="homework4.tests.ProductCreationTest">
                <methods>
                    <include name="createProductTest"/>
                    <include name="checkProductPresenceTest"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="test1-edge" preserve-order="true">
        <parameter name="browser" value="edge"></parameter>
        <parameter name="email"  value="rufjtigk+89@gmail.com"/>
        <parameter name="password" value="qweriuyt"/>
        <classes>
            <class name="homework4.tests.ProductCreationTest">
                <methods>
                    <include name="createProductTest"/>
                    <include name="checkProductPresenceTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
